$main-green: rgb(55, 179, 55);
$complete: green;
$incomplete: yellow;
$hover-green: rgb(111, 206, 111);

.App {
  height: 100vh;
  width: 100vw;
  // background-image: url('./images/background-truck.jpg');
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // max-width: 1920px;
  // width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Staatliches', cursive;
}

.banner {
  img {
    margin-top: -120px;
    width: 100%;
    height: auto;
    max-height: 15%;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.title {
  margin-top: 20px;
  margin-bottom: 50px;
  color: $main-green;
  font-size: 3rem;
  font-weight: 550;
}

.map {
  position: relative;
  width: 600px;
  height: 600px;
  border: 2px solid rgb(34, 61, 39);
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin: 20px;
}

.legend {
  width: 60%;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
}

.legend-item {
  height: 10px;
  width: 50px;
  margin-left: 0.5rem;
  margin-right: 2rem;
}
  .complete {
    background-color: $complete;
  }

  .incomplete {
    background-color: $incomplete;
  }

.box {
  border: 0.5px solid rgb(241, 241, 241);
  width: 60px;
  height: 60px; 
  box-sizing: border-box;
}

.truck-stop {
  position: "absolute";
}

.fa-truck {
  z-index: 3;
}

.update-form {
  font-family: inherit;
  margin-top: 50px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: inherit;

  .form-title {
    font-size: 2rem;
  }

  .dropbtn.drop-down {
    font-family: inherit;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    font-family: inherit;
  }
  
  .dropdown:hover .dropbtn {
    background-color: $hover-green;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-item {
    font-family: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding-left: 0.25rem;
    &:hover {
      background-color: $hover-green
    }
  }

  .button {
    font-family: inherit;
    height: 2.5rem;
    font-size: 1.25rem;
    background-color: rgb(149, 151, 147);
    border: none;
    border-radius: 2px;
    &:hover {
      background-color: $hover-green;
    }
  }

  .input {
    padding-left: 0.25rem;
    background-color: rgb(207, 209, 205);
  }
}
