.App {
  height: 100vh;
  width: 100vw;
  // background-image: url('./images/background-truck.jpg');
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // max-width: 1920px;
  // width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.banner {
  img {
    margin-top: -120px;
    width: 100%;
    height: auto;
    max-height: 20%;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}

.title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Staatliches', cursive;
  color: rgb(1, 136, 46);
  font-size: 3rem;
  font-weight: 550;
}

.map {
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid #121E14;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin: 20px;
}

.box {
  border: 0.5px solid rgb(193, 193, 199);
  width: 40px;
  height: 40px; 
  box-sizing: border-box;
}

.truck-stop {
  position: "absolute";
}

.fa-truck {
  z-index: 3;
}

.update-form {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #75af77;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #cbfaab
}
